body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
}

.mobile-container {
  max-width: 480px;
  margin: auto; 
  background-color: whitesmoke;
  min-height: 100vh;
  color: #333;
  border-radius: 0;
}

.mobile-pad {
    padding: 20px;
}

.package {
  max-width: 400px;
  margin: auto; 
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  position: relative;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav .icon {
  background: lightslategray;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: lightslategray;
  color: white;
}

textarea {
  resize: none;
}

footer {
  max-width: 480px;
  margin: auto; 
  background-color: lightslategray;
  color: #333;
  border-radius: 0;
}

/*footer {
   position: fixed; 
   left: 0;
   bottom: 0;
   width: 100vw;
   background-color: lightslategray;
   color: white;
   text-align: center;
} */

.button, .button:focus {
  background-color: lightslategray;
  width: 300px;
  outline: 0;
  box-shadow: none!important;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #333;
  color: #fff;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

.button2, .button2:focus {
  background-color: #04AA6D;
  outline: none;
  width: 100px;
  outline: 0;
  box-shadow: none!important;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button2:hover {
  background-color: #333;
  color: #fff;
}

.code {
  text-align: right;
  font-size: 8px;
  color: #aaa;
  margin: 0;
}
                                    /*   BEER COLORED Slider; */
.colorslidecontainer {
    margin: auto;
  width: 100%;
}

.colorslider {
  -webkit-appearance: none;
  -moz-appearance:    none;
  margin: auto;
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, rgba(255,255,226,1) 0%, rgba(255,255,197,1) 6%, rgba(255,255,169,1) 12%, rgba(255,253,141,1) 19%, rgba(255,224,114,1) 25%, rgba(255,196,87,1) 31%, rgba(255,169,59,1) 37%, rgba(242,142,28,1) 44%, rgba(210,116,0,1) 50%, rgba(179,91,0,1) 56%, rgba(149,66,0,1) 62%, rgba(118,43,0,1) 69%, rgba(89,19,0,1) 75%, rgba(61,0,0,1) 81%, rgba(0,0,0,1) 87%, rgba(0,0,0,1) 94%);
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
}

.colorslider:hover {
  opacity: 1;
}

.colorslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance: none;
  background:url(https://en.wikipedia.org/wiki/File:1x1.png#/media/File:1x1.png) no-repeat;
  width: 50px;
  height: 50px; 
  border-style: solid;
  border-width: 5px;
  border-color: #999; 
  cursor: pointer;
}

.colorslider::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance: none;
  background:url(https://en.wikipedia.org/wiki/File:1x1.png#/media/File:1x1.png) no-repeat;
  width: 50px;
  height: 50px; 
  border-style: solid;
  border-width: 5px;
  border-color: #999; 
  cursor: pointer;
}

                                            /*   REGULAR Slider; */
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance:    none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

                                            /*Multi page form css*/

/* Mark input boxes that gets an error on validation: */
.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}


                                            /*Checkbox tags*/
ul.ks-cboxtags {
    list-style: none;
    padding-left: 0;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 4px  6px;      /*Was formerly 4pl*/ 
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 10px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: solid rgba(139, 139, 139, .3);
    background-color: #04AA6D;
    opacity: 0.7;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid rgba(139, 139, 139, .9);
} 

                                            /*RADIO tags*/
ul.ks-rboxtags {
    list-style: none;
    padding-left: 0;
}
ul.ks-rboxtags li{
  display: inline;
}
ul.ks-rboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-rboxtags li label {
    padding: 4px 6px;
    cursor: pointer;
}

ul.ks-rboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 10px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-rboxtags li input[type="radio"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-rboxtags li input[type="radio"]:checked + label {
    border: solid rgba(139, 139, 139, .3);
    background-color: #04AA6D;
    opacity: 0.7;
    color: #fff;
    transition: all .2s;
}

ul.ks-rboxtags li input[type="radio"] {
  display: absolute;
}
ul.ks-rboxtags li input[type="radio"] {
  position: absolute;
  opacity: 0;
}
ul.ks-rboxtags li input[type="radio"]:focus + label {
  border: 2px solid rgba(139, 139, 139, .9);
}


                                            /*White Screen Plugin*/


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #04AA6D;
}

.overlay .closebtn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
  font-size: 80px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}